<div class="row">
  <div class="col-sm-12">
    <h3 class="text-center">Edit Duplicated Activity</h3>
    <p>List of student</p>
    <table datatable [dtOptions]="dtOptions" class="row-border hover">
      <thead>
        <tr>
          <th rowspan="2" class="text-center">Index</th>
          <th rowspan="2" class="text-center">StudentCode</th>
          <th rowspan="2" class="text-center">StudentName</th>
          <th rowspan="2" class="text-center">NickName</th>
          <th rowspan="2" class="text-center">Class</th>
          <th rowspan="2" class="text-center">Activities</th>
          <th colspan="3" class="text-center">Arraged Time</th>
        </tr>
        <tr>
          <th class="text-center">4:30</th>
          <th class="text-center">5:30</th>
          <th class="text-center">7:30</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data2">
          <td class="text-center">{{item.index}}</td>
          <td class="text-center">{{ item.studentCode }}</td>
          <td class="text-center">{{ item.studentName }}</td>
          <td class="text-center">{{ item.nickName }}</td>
          <td class="text-center">{{ item.class }}</td>
          <td>
            <div class="left-activity">Thi dau bong ro</div>
            <div class="right-activity">
              <mat-checkbox class="example-margin" [(ngModel)]="item.act1">14:30 - 17:30</mat-checkbox>
            </div>
            <div class="clear-float"></div>
            <div class="left-activity">Thi dau vu dieu moi</div>
            <div class="right-activity">
              <mat-checkbox class="example-margin" [(ngModel)]="item.act2">16:30 - 18:00</mat-checkbox>
            </div>
          </td>
          <td class="text-center">
            <mat-checkbox class="example-margin" [(ngModel)]="item.time1"></mat-checkbox>
          </td>
          <td class="text-center">
            <mat-checkbox class="example-margin" [(ngModel)]="item.time2"></mat-checkbox>
          </td>
          <td class="text-center">
            <mat-checkbox class="example-margin" [(ngModel)]="item.time3"></mat-checkbox>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>