<!-- <ul id="menu" class="nav nav-tabs" id=tranport-menu role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="buses-management-tab" data-toggle="tab" href="#buses-management" role="tab" aria-controls="buses-management"
      aria-selected="true">Buses Management</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="auto-setup-tab" data-toggle="tab" href="#auto-setup" role="tab" aria-controls="auto-setup"
      aria-selected="false">Auto Setup</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="detail-list-tab" data-toggle="tab" href="#detail-list" role="tab" aria-controls="detail-list"
      aria-selected="false">Detail List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="notice-change-tab" data-toggle="tab" href="#notice-change" role="tab" aria-controls="notice-change"
      aria-selected="false">Notice Change</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="import-tab" data-toggle="tab" href="#import" role="tab" aria-controls="import"
      aria-selected="false">Import</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="report-tab" data-toggle="tab" href="#report" role="tab" aria-controls="report"
      aria-selected="false">Report</a>
  </li>
</ul> -->




<!-- <div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="buses-management" role="tabpanel" aria-labelledby="buses-management-tab">1</div>
  <div class="tab-pane fade" id="auto-setup" role="tabpanel" aria-labelledby="auto-setup-tab">2</div>
  <div class="tab-pane fade" id="detail-list" role="tabpanel" aria-labelledby="detail-list-tab">3</div>
  <div class="tab-pane fade" id="notice-change" role="tabpanel" aria-labelledby="notice-change-tab">4</div>
  <div class="tab-pane fade" id="import" role="tabpanel" aria-labelledby="import-tab">5</div>
  <div class="tab-pane fade" id="report" role="tabpanel" aria-labelledby="report-tab">6</div>
</div> -->

<!-- <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li>
</ul> -->