agm-map {
    height: 300px;
}

.material-icons{
  font-size: 49px !important;
}

i.fa.fa-bell{
  font-size: 41px !important;
  margin: 0 4px !important; 
}
.notice-table{
  width: 100%;
  border-style: inset;
}
.list-table{
  width: 100%;
  border-style: inset;
}