<div class="row">
  <div class="col-sm-10">
    <h1>{{ 'HOME.Title'| translate }}</h1>
    <!-- <h1>Online Dashboard</h1> -->

    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="17" (mapClick)="mapClicked($event)">
      <agm-marker [latitude]="lat" [longitude]="lng" [iconUrl]="markerIconUrl()"></agm-marker>
      <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)" [latitude]="m.lat"
        [longitude]="m.lng" [label]="m.label" [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)">

        <agm-info-window>
          <strong>InfoWindow content</strong>
        </agm-info-window>

      </agm-marker>
    </agm-map>
  </div>
  <div class="col-sm-2">
    <h3>Info</h3>
    <!-- <div class="profile-menu">
      <img class="rounded-circle" src="../../../assets/user.png"><b>572</b>
      <br>
      <i class="material-icons">swap_calls</i> <b>6 Routes</b>
      <br>
      <i class="material-icons">directions_bus</i> <b>22 Running Buses</b>
      <br>
      <i class="fa fa-bell"></i> <b>30 Notices</b>
    </div> -->
    <table>
      <tr>
        <td><img class="rounded-circle" src="../../../assets/user.png"></td>
        <td><b>572</b></td>
      </tr>
      <tr>
        <td><i class="material-icons">swap_calls</i></td>
        <!-- <td><b>6 Routes</b></td> -->
        <td><b>6 {{ 'HOME.RoutesInfo'| translate }}</b></td>
      </tr>
      <tr>
        <td><i class="material-icons">directions_bus</i></td>
        <!-- <td><b>22 Running Buses</b></td> -->
        <td><b>22 {{ 'HOME.BusInfo'| translate }}</b></td>
      </tr>
      <tr>
        <td><i class="fa fa-bell"></i></td>
        <!-- <td><b>30 Notices</b></td> -->
        <td><b>30 {{ 'HOME.Notices'| translate }}</b></td>
      </tr>
    </table>

  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h3>{{ 'HOME.Notice'| translate }}</h3>
    <table class="notice-table">
      <tr>
        <th class="text-center">{{ 'HOME.Trainport'| translate }}</th>
        <th class="text-center">{{ 'HOME.Sender'| translate }}</th>
        <th class="text-center">{{ 'HOME.TimeSent'| translate }}</th>
        <th class="text-center">{{ 'HOME.DetailNotice'| translate }}</th>
        <th class="text-center">{{ 'HOME.ImportantLevel'| translate }}</th>
      </tr>
      <tr>
        <td class="text-center">1</td>
        <td class="text-center">2</td>
        <td class="text-center">3</td>
        <td class="text-center">4</td>
        <td class="text-center">5</td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h3>{{ 'HOME.ListRunningTrainportTitle'| translate }}</h3>
    <table class="list-table">
      <tr>
        <th class="text-center">{{ 'HOME.RouteList'| translate }}</th>
        <th class="text-center">{{ 'HOME.TranportList'| translate }}</th>
        <th class="text-center">{{ 'HOME.TimeStart'| translate }}</th>
        <th class="text-center">{{ 'HOME.Driver'| translate }}</th>
        <th class="text-center">{{ 'HOME.Tutor'| translate }}</th>
        <th class="text-center">{{ 'HOME.TotalStudents'| translate }}</th>
        <th class="text-center">{{ 'HOME.NumberOfStudentsRemaining'| translate }}</th>
        <th class="text-center">{{ 'HOME.NumberOfStudentsGotOff'| translate }}</th>
        <th class="text-center">{{ 'HOME.Absent'| translate }}</th>
        <th class="text-center">{{ 'HOME.Actions'| translate }}</th>
      </tr>
      <tr>
        <td class="text-center">1</td>
        <td class="text-center">2</td>
        <td class="text-center">3</td>
        <td class="text-center">4</td>
        <td class="text-center">5</td>
        <td class="text-center">6</td>
        <td class="text-center">7</td>
        <td class="text-center">8</td>
        <td class="text-center">9</td>
        <td class="text-center">10</td>
      </tr>
    </table>
  </div>
</div>
<br>
