<app-layout>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="buses-management" role="tabpanel" aria-labelledby="buses-management-tab">
      <app-buses-management></app-buses-management>
    </div>
    <div class="tab-pane fade" id="auto-setup" role="tabpanel" aria-labelledby="auto-setup-tab">
        <app-auto-setup></app-auto-setup>
    </div>
    <div class="tab-pane fade" id="detail-list" role="tabpanel" aria-labelledby="detail-list-tab">3</div>
    <div class="tab-pane fade" id="notice-change" role="tabpanel" aria-labelledby="notice-change-tab">
      <app-notice-change></app-notice-change>
    </div>
    <div class="tab-pane fade" id="import" role="tabpanel" aria-labelledby="import-tab">
      <app-import></app-import>
    </div>
    <div class="tab-pane fade" id="report" role="tabpanel" aria-labelledby="report-tab">6</div>
  </div>
</app-layout>