.example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }
  
  div#change-form{
    margin-left: 1% !important;
  }
  #tuyenxe-table2{
    width: 100% !important;
  }
  input#time-start{
    width: 100% !important;
    border-radius: 14px;
    text-align: center;
  }
  input#time-end{
    width: 100% !important;
    border-radius: 14px;
    text-align: center;
  }
  #form-add{
    margin-left: 3% !important;
  }
  #form-update{
    margin-left: 1% !important;
  }

  .btn-primary{
    background-color: coral !important;
    border-color: sienna !important;
  }
  