<div id="change-form" class="row">
  <!-- <div id="logging-form" class="col-sm-12"> -->
    
    <!-- 
        <section class="example-section">
          <section class="example-section">
            <mat-checkbox class="example-margin" [(ngModel)]="item1">R0</mat-checkbox>
            <mat-checkbox class="example-margin" [(ngModel)]="item2">R1</mat-checkbox>
          </section> -->

          <div class="row">
            <div class="col-sm-9">
                <h2>Notice Change</h2>
              <mat-card>
                <mat-card-content>
                  <section class="example-section">
                    <label class="example-margin">Rule:</label>
                    <mat-radio-group [(ngModel)]="labelPosition1">
                      <mat-radio-button class="example-margin" value="R0">R0-Không hạn định</mat-radio-button>
                      <mat-radio-button class="example-margin" value="R1">R1-Có thời hạn</mat-radio-button>
                    </mat-radio-group>
                  </section>
          
                  <section class="example-section">
                    <label class="example-margin">Tan suat:</label>
                    <mat-radio-group [(ngModel)]="labelPosition2">
                      <mat-radio-button *ngFor="let item of tansuat" class="example-margin" value="item">{{item}}</mat-radio-button>
                    </mat-radio-group>
                  </section>
          
                  <section class="example-section">
                    <label class="example-margin">Tac Dong:</label>
                    <mat-radio-group [(ngModel)]="labelPosition3">
                      <mat-radio-button *ngFor="let item of tacdong" class="example-margin" value="item">{{item}}</mat-radio-button>
                    </mat-radio-group>
                  </section>
          
                  <section class="example-section">
                    <label class="example-margin">Hoat dong bi tac dong:</label>
                    <mat-radio-group [(ngModel)]="labelPosition4">
                      <mat-radio-button *ngFor="let item of activitiestacdong" class="example-margin" value="item">{{item}}</mat-radio-button>
                    </mat-radio-group>
                  </section>
          
          
                </mat-card-content>
              </mat-card>
          
            </div>
            <div class="col-sm-3">
              <form (ngSubmit)="onSubmit()" #noticeChangeForm="ngForm">
                <!-- {{diagnostic}} -->
          
                <div class="form-group">
                  <label for="exampleInputEmail1">Date Start</label>
                  <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="modelDate" ngbDatepicker #d="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                    </div>
                  </div>
                </div>
          
                <div class="form-group">
                  <label for="exampleInputEmail1">Date End</label>
                  <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="modelDate2" ngbDatepicker #d1="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button"></button>
                    </div>
                  </div>
                </div>
          
          
                <div class="form-group">
                  <label for="exampleInputEmail1">Time Start</label>
                  <div class="input-group">
                    <div class="12hr-example">
                      <input placeholder="12hr format" [value]="'05:11 pm'" aria-label="12hr format" [ngxTimepicker]="default"
                        readonly>
                      <ngx-material-timepicker #default></ngx-material-timepicker>
                    </div>
                  </div>
                </div>
          
          
                <div class="form-group">
                  <label for="exampleInputEmail1">Time End</label>
                  <div class="input-group">
                    <div class="12hr-example">
                      <input placeholder="12hr format" [value]="'07:15 pm'" aria-label="12hr format" [ngxTimepicker]="default1"
                        readonly>
                      <ngx-material-timepicker #default1></ngx-material-timepicker>
                    </div>
                  </div>
                </div>
          
                <button type="submit" class="btn btn-primary" [disabled]='!noticeChangeForm.valid'>Submit</button>
              </form>

            </div>
          </div>
    
    


      <!-- <div class="form-group">
        <label for="exampleInputEmail1">Chọn Loại Doi Tuong</label>
        <input type="text" class="form-control" id="loainguoi" [(ngModel)]="model.loainguoi" name="loainguoi"
          #loainguoi="ngModel" required placeholder="Enter Doi Tuong">
        <small id="emailHelp" class="form-text text-muted"></small>
        <div *ngIf="loainguoi.invalid && (loainguoi.dirty || loainguoi.touched)" class="alert alert-danger">
          <div *ngIf="loainguoi?.errors?.required">
            Doi Tuong is required
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Loại thay đổi</label>
        <input type="text" class="form-control" id="loaithaydoi" [(ngModel)]="model.loaithaydoi" name="loaithaydoi"
          #loaithaydoi="ngModel" required placeholder="Enter Loai thay doi">
        <small id="emailHelp" class="form-text text-muted"></small>
        <div *ngIf="loaithaydoi.invalid && (loaithaydoi.dirty || loaithaydoi.touched)" class="alert alert-danger">
          <div *ngIf="loaithaydoi?.errors?.required">
            Loai thay doi is required
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">Lý do</label>
        <input type="text" class="form-control" id="lydo" [(ngModel)]="model.lydo" name="lydo" #lydo="ngModel" required
          placeholder="Enter Ly Do">
        <small id="emailHelp" class="form-text text-muted"></small>
        <div *ngIf="lydo.invalid && (lydo.dirty || lydo.touched)" class="alert alert-danger">
          <div *ngIf="lydo?.errors?.required">
            Ly do is required
          </div>
        </div>
      </div> -->


    
  <!-- </div> -->
</div>