.example-margin{
    margin-left: 4% !important;
}
#upload-file-input{
    background-color: aqua;
    color: brown;
}

.btn-primary{
    background-color: coral !important;
    border-color: sienna !important;
  }
  