<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  
    <ng-container matColumnDef="TuyenXe">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> TuyenXe </th>
      <td mat-cell *matCellDef="let element"> {{element.TuyenXe}} </td>
    </ng-container>
  
    <ng-container matColumnDef="MaXe">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> MaXe </th>
      <td mat-cell *matCellDef="let element"> {{element.MaXe}} </td>
    </ng-container>
  
    <ng-container matColumnDef="GiaoVu">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> GiaoVu </th>
      <td mat-cell *matCellDef="let element"> {{element.GiaoVu}} </td>
    </ng-container>
  
    <ng-container matColumnDef="TaiXe">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> TaiXe </th>
      <td mat-cell *matCellDef="let element"> {{element.TaiXe}} </td>
    </ng-container>
  
    <ng-container matColumnDef="SoLuongHS">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> SoLuongHS </th>
      <td mat-cell *matCellDef="let element"> {{element.SoLuongHS}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>