<table datatable [dtOptions]="dtOptions" class="row-border hover">
  <thead>
    <tr>
      <th class="text-center">Chieu</th>
      <th class="text-center">STT Chieu Di</th>
      <th class="text-center">STT Chieu Ve</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data">
      <td>
        <!-- {{ item.Chieu }} -->
        <div class="text-center" *ngIf="item.Chieu==1"><img class="arrow-item" src="./../../../assets/icons8-arrow-48-right.png"></div>
        <div class="text-center" *ngIf="item.Chieu==2"><img class="arrow-item" src="./../../../assets/icons8-arrow-pointing-left-48 (2).png"></div>
        <div class="text-center" *ngIf="item.Chieu==3"><img class="arrow-item" src="./../../../assets/download.png"></div>
      </td>
      <td class="text-center">{{ item.sttChieuDi }}</td>
      <td class="text-center">{{ item.sttChieuVe }}</td>
    </tr>
  </tbody>
</table>